/* styles/Footer.module.css */
.footer {
    background-color: #A68B7C;
    padding: 20px;
    display: flex;
    justify-content: space-around; /* Keeps items spaced around */
    align-items: flex-start;
}
