html {
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
  }
  
  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #F7E7CE; /* Light cream background color */
      color: black; /* Default text color */
      font-family: 'Open Sans', sans-serif; /* Default font family */
      zoom: 90%; /* Slightly zoom out the content */
  }
  
  @media (max-width: 768px) {
      body {
          zoom: 90%; /* Maintain the same zoom level for consistency */
          width: 33em; /* Set a fixed width for smaller screens */
          margin: 0 auto; /* Center the content on smaller screens */
      }
  }
  