body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7E7CE;
    color: black;
    font-family: 'Open Sans', sans-serif;
    zoom: 90%;
}

@media (max-width: 768px) {
    body {
        zoom: 90%; 
        width: 33em/* Adjust zoom for smaller screens */
    }
}
