/* styles/globals.css */
body {
    margin: 0;
    padding: 0;
    zoom: 90%;
    box-sizing: border-box;
    background-color: #F7E7CE; /* Set the background color for the entire page */
    color: black; /* Default text color, adjust as needed */
    font-family: 'Open Sans', sans-serif;
  }



@media (max-width: 768px) {
    body {
        font-size: 14px; /* Slightly smaller font size on mobile devices */
    }
}
