/* styles/NavigationBar.module.css */
.navbar {
    background-color: #A68B7C;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative; /* Establishes the containing block for absolute positioning */
    font-family: 'Open Sans', sans-serif;
  }
  
  .brand {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1rem; /* Positions the menu 1rem from the right */
    top: 1rem; /* Positions the menu 1rem from the top */
    display: flex; /* Aligns the menu items horizontally */
    align-items: center; /* Centers the menu items vertically */
  }
  
  .menuItem {
    color: black;
    padding: 0 1rem; /* Space between menu items */
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  