/* styles/NavigationBar.module.css */
.navbar {
    background-color: #A68B7C;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative; /* Establishes the containing block for absolute positioning */
    font-family: 'Open Sans', sans-serif;
  }
  
  .brand {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1rem; /* Positions the menu 1rem from the right */
    top: 1rem; /* Positions the menu 1rem from the top */
    display: flex; /* Aligns the menu items horizontally */
    align-items: center; /* Centers the menu items vertically */
  }
  
  .menuItem {
    color: black;
    padding: 0 1rem; /* Space between menu items */
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .menu {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: #A68B7C;
        padding: 20px;
        border-radius: 10px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .menu.active {
        transform: translateX(0);
    }

    .menuItem {
        padding: 10px 20px;
        text-align: center;
    }
}