/* styles/ProductCard.module.css */

.card {
    background-color: #A68B7C;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    min-height: 320px;
    margin: 0 auto;
}

.cardBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cardImage {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardContent {
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: 15px; /* Adjusted margin */
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-family: 'Open Sans', sans-serif;
}

.cardTitle {
    font-size: 1.2rem;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
}

.cardDescription {
    font-size: 1.0rem;
    margin-top: 4px;
    font-family: 'Open Sans', sans-serif;
}

.cardCalories { /* New class for displaying calories */
    font-size: 1.2rem;
    color: black;
    margin: 10px 0;
    font-weight: bold; /* Optional: for emphasizing the calorie information */
    font-family: 'Open Sans', sans-serif;
}


/* Adjust the line clamp for the description on smaller screens */
@media (max-width: 768px) {
    .cardContent {
        -webkit-line-clamp: 9; /* Show more lines on smaller screens */
    }
}

/* Additional responsive adjustments for the card */
@media (max-width: 480px) {
    .card {
        min-height: 420px; /* Further increase for very small screens */
    }

    .cardBody {
        margin-bottom: 20px; /* Add some space at the bottom */
    }
}
